[Desktop Entry]
Encoding=UTF-8
Name=Salvage
Comment=Salvage P2P Cryptocurrency
Exec=salvage-qt %u
Terminal=false
Type=Application
Icon=salvage128
MimeType=x-scheme-handler/salvage;
Categories=Office;Finance;
Name[en_US]=salvage-qt.desktop
